header ul {
            display: flex;
            list-style: none;
            gap: 40px;
            align-items: center;
            margin: 0;
        }
header {
            background: white;
            padding: 6px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            position: sticky;
            top: 0;
            z-index: 1000;
            border-bottom: 10px solid #284a8f;
            
        }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
.menu {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
}
.menu a {
            font-weight: 600;
            font-size: large;
            text-decoration: none;
            color: #284a8f;
        }
.logo {
            display: flex;
            align-items: center;
            gap: 12px;
        }

.logo img {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.logo p {
            font-size: 24px;
            font-weight: 600;
            color: #284a8f;
            margin: 0;
            align-items: center;
        }
.nav {
            display: flex;
            align-items: center;
            gap: 40px;
        }
.btn-header {
  --btn-color: #284a8f;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 16px;
  border: 2px solid var(--btn-color);
  border-radius: 9999px;   /* pill */
  background: transparent;
  color: var(--btn-color);

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;

  transition: background-color .2s, color .2s, transform .05s;
}

.btn-header:hover {
  background: rgba(40,74,143,.06);
}

.btn-header:active {
  background: rgba(40,74,143,.12);
  transform: translateY(1px);
}